*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

// Tipografías
@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-VariableFont_wght.ttf');
}

// Variables
$color-claro: #ffffff;
$color-oscuro: #000000;
$color-fondo: rgb(45, 145, 230);
$color-boton: rgb(12, 75, 127);

$tablet: 600px;
$desktop: 1200px;

$fuenteTitulos: 'Outfit', sans-serif; 
$fuenteTexto: 'Work Sans', sans-serif;

// Títulos
h1{
    font-family: $fuenteTitulos;
    font-size: clamp(1.5rem, 3vw, 8rem);
    color: $color-claro;
}

h2{
    font-family: $fuenteTitulos;
    font-size: clamp(1.3rem, 2.5vw, 8rem);
    color: $color-oscuro;
}

h3{
    font-family: $fuenteTitulos;
    font-size: 1rem;
    color: $color-claro;
}

p{
    font-family: $fuenteTexto;
}

// Botones
.btn-primario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: $color-claro;
    background-color: $color-boton;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: darken($color-boton, 30%);
    }
}

