@use './resources/_config.scss' as c;

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: c.$color-fondo;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10dvh;
    background-color: darken(c.$color-fondo, 10%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90dvh;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

.fichas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; // Eje-X
    justify-content: center; // Eje-Y
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;

    article.ficha{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20rem;
        height: 20rem;
        background-color: lighten(c.$color-boton, 20%);
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        transition: transform 0.3s ease;

        &:hover{
            transform: translateY(-10px);
        }

        img{
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
        }

        h3{
            margin-bottom: 0.5rem;
        }

        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: clamp(0.8rem, 2vw, 1.2rem);
            color: c.$color-oscuro;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

