@use './resources/_config.scss' as c;

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: c.$color-fondo;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center; // Eje-X
    align-items: center; // Eje-Y
    width: 100%;
    height: 10dvh;
    background-color: darken(c.$color-fondo, 10%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;

    :nth-child(1){
        width: 40px;
        height: 40px;
        object-fit: contain;
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

#proyectos{
    display: flex;
    flex-direction: column;
    align-items: center; // Eje-X
    justify-content: center; // Eje-Y
    width: 100%;
    height: 90dvh;
    
    h2 {
        margin: 1rem 0;
    }
}

.fichas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; // Eje-X
    align-items: center; // Eje-Y
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    overflow-y: scroll;

    article.ficha{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center; // Eje-X
        justify-content: center; // Eje-Y
        width: 20rem;
        height: 20rem;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        transition: transform 0.3s ease;

        &:hover{
            transform: translateY(-10px) scale(1.1);;
        }

        &:hover{
            .btn-primario{
                opacity: 1;
            }
            p{
                opacity: 1;
            }
            img{
                filter : brightness(0.7);
            }
        }

        img{
            position: absolute;
            inset: 0;
            z-index: -1;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 0.5rem;
            transition: transform 0.5s ease;
        }

        h3{
            margin-bottom: 0.5rem;
        }

        p{
            font-size: 1rem;
            color: c.$color-claro;
            text-align: center;
            margin-bottom: 2rem;
            opacity: 0;
        }

        .btn-primario{
            opacity: 0;
            transition: 0.5s;
        }
    }
}

